## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [42]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there dad!"
t = s.split()

In [3]:
print(t)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print("The diameter of{0} is {1} kilometers.".format(planet,diameter))

The diameter ofEarth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:

d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [12]:
#Lists are mutable, and are denoted by square brackets and they are relatively slower compare to tuple but it have lot of in built methods
#Tuples are immutable unlike lists , and are denoted by paranthesis ; they are also faster and don't have as many as of in built methods compared to lists

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def returnDomain(mail):
  return mail.split('@')[-1]

In [14]:
returnDomain("user@domain.com")

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def hasdog(string):
  return 'dog' in string.lower()

In [16]:
hasdog("this dog is cute ")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [24]:
def countdog(str):
  count = 0
  for i in str.lower().split():
    if 'dog' in i:
      count = count + 1
  return count

In [25]:
countdog("thIs dog is cute This Dog is acting very good")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [27]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [31]:
caught_speeding(91,True)

'Big Ticket'

In [30]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [40]:
employee = ['Bala' , 'Enel' , 'Sanji' , 'Luffy' , 'Kaido']
salary = [10000 , 21000 , 30100 , 40200 , 50000]
totalexp = 0 
print("Employees and their Salaries")
for i in range(len(employee)):
  print(" {} - {} ".format(employee[i],salary[i]))
  totalexp = totalexp + salary[i]
print("The total expenditure for the company is " , totalexp)

Employees and their Salaries
 Bala - 10000
 Enel - 21000
 Sanji - 30100
 Luffy - 40200
 Kaido - 50000
The total expenditure for the company is  151300

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [41]:
dict1 = {"Empid" : 1 , "Empname" : "Bala" , "Basicpay" : 40000}
dict2 = {"DeptName" : "CSE" , "DeptId" : 21}
dict1.update(dict2)
print(dict1)

{'Empid': 1, 'Empname': 'Bala', 'Basicpay': 40000, 'DeptName': 'CSE', 'DeptId': 21}